<div class="footer">
  <div class="container">
    <div class="ft_top d-flex">
      <div class="ft_topleft">
        <ul class="d-flex ft_toptop">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <div class="ft_topbottom">
          <div class="ft_text">
            <span class="material-symbols-outlined">call</span>
            <p>0800-000-000</p>
          </div>
          <div class="ft_text">
            <span class="material-symbols-outlined">mail</span>
            <p>glasses@business.com</p>
          </div>
        </div>
      </div>  
      <ul class="d-flex ft_icon">
        <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></li>
        <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></li>
        <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></li>
      </ul>
    </div>
    
    <div class="ft_bottom d-flex">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex">
        <li>隱私權政策</li>
        <li>服務條款</li>
      </ul>
    </div>
  </div>
</div>