<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="shop">
      <div class="container">
        <h1 class="shop_title">門市據點</h1>
        <div class="shop_bransh">
          <h2>選擇分店</h2>
          <select name="" id="">
            <option value="">台北中山旗艦店</option>
          </select>
        </div>
        <div class="shops d-flex">
          <div class="bransh_card">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/storepage-1.png?raw=true" alt="">
            <div class="bransh_text">
              <h3>台北中山旗艦店</h3>
              <ul>
                <li class="bransh_list">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(02)000-1234</p>
                </li>
                <li class="bransh_list">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="bransh_list">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="map">
            <img src="../assets/images/map.png" alt="">
          </div>
        </div>
        
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
